extends index.pug

block accueil
    body#accueil_body
        h1 Click n&apos;Prev
        a(href='prevention') 
            div.card_accueil#caprev 
                h3 Pr&eacute;vention
            br
        a(href='connexion')
            div.card_accueil#caco
                h3 Communaut&eacute;
        
        input#install_button(type='submit' value='Installer' onclick="installpwa()")
