extends index.pug

block alcool
    body#alcool_body
        h1.titreSectionPrev Alcool
        div.card
            ul.listeConseilsSection
                li Évite de mélanger trop d'alcools différents, leurs différences vont te retourner l'estomac rapidement donc mieux vaut rester sur le même tout au long de la soirée.
                li Petit conseil pour le vin, si tu aimes boire du rouge et du blanc : "Blanc sur rouge, rien ne bouge. Rouge sur blanc, tout fout le camp" (c'est un peu lié au conseil au-dessus) 
                li L'alcool modifie fortement tes réflexes, ta concentration et ta perception de l'environnement, évite donc d'en abuser car tu pourrais te mettre en danger sans t'en rendre compte
                li Lorsque tu commences à te sentirs mal, la première chose à faire est d’arrêter de boire de l’alcool.
                li Manges et bois une boisson non alcoolisée, même si tu as l’impression que tu ne le supportera pas. Ton corps a besoin d’être réhydraté et de reprendre de l’énergie. Cherches ce qui pourrait te soulager, comme par exemple parler, marcher, t’allonger, ou vomir.
                li Évite de sortir du lieu où tu te trouves sans être accompagné ! Tu pourrais te perdres ou t’endormirs dans un endroit non sécurisé.
                li Ne restes pas seul et isolé et n’aies aucune gêne à faire part de ton malaise à l’un de tes amis. Il pourra t’accompagner dans un endroit calme, prêter attention à ton état et te rassurer.
                li Ne prends surtout pas la route ! Même si  t’as l’impression que tu le peux, en ayant trop bu tu n’es pas le mieux placé pour juger de ton état.
                li Écouter tes amis quand ils te disent que tu as trop bu pourrait te permettres de t’arrêter de boire avant de te rendre malade.
                li Plus bas tu as quelques liens qui peuvent t'éclairer ↴

        h1.titreSectionPrev Liens utiles
        div.card
            ul.listeLiensSection
                li
                    a(href="https://www.youtube.com/watch?v=Ft6xrEsa2pQ") Vidéo de JIMMY sur Youtube
                li
                    a(href="http://www.vinetsociete.fr/prevention/entre-jeunes#gaya_editorial_index--1766") Conseil pour une fête responsable
                li
                    a(href="https://modules.securite-routiere.gouv.fr/module_alcool.html") Simulateur de peines en cas de contrôle d'alcool au volant
                li
                    a(href="https://youtu.be/Uu5sTjwCvCI") BOURRÉ SIMULATOR : LA COURSE EN ÉTAT D’IVRESSE<br>avec Marty et Mcfly, Les L.E.J, Natoo, Akim Omiri, Seb la Frite et Amixem !
                li
                    a(href="https://www.youtube.com/watch?v=_6I8zZcVc1w") Vidéo de KEMAR sur Youtube
                li
                    a(href="http://jeunes.alcool-info-service.fr/alcool/Vrai-Faux/") Un questionnaire en vrai/faux (~2min)
                li
                    a(href="https://www.bourredesavoir.ch/quizz/consommation-alcool/") Un test (~20min) anonyme pour déterminer ton rapport à l'alcool
                li
                    a(href="tel:0980980930") Allô Écoute alcool 0 980 980 930 (de 8h à 2H)
