extends index.pug

block carte
    body#carte_body
        h1 Carte
        div#mapid

    form(method='POST' action='')
        div.card
            fieldset
                label(for='depart') Départ:
                input#depart(name="depart" type='text' placeholder='Départ')

                label(for='arrivee') Arrivée:
                input#arrivee(name="arrivee" type='text' placeholder='Arrivée' required='')

                input#button_trajet(type='submit' value='Calcul du Trajet')