extends index.pug

block connexion
  body#connexion_body
    h1 Connexion
    form(method='POST' action='')
    div.card
      fieldset
        h3 D&eacute;ja inscrit? Connectez-vous:

        label(for='pseudo') Nom:
        input#pseudo_connexion(name="pseudo_connexion" type='text' placeholder='Votre pseudo' required='')

        label(for='password') Mot de passe:
        input#password_connexion(name="password_connexion" type='password' placeholder='Votre mot de passe' required='')

        input#button_co(type='submit' value='Connexion')

    div.card_co_inscription
      h3 Vous n&apos;avez pas encore de compte? Inscrivez-vous:
      a#inscription_button(href="inscription") S'inscrire