extends index.pug

block conseils
    body#conseils_body
        h1.titreSectionPrev Conseils
        div.card
            ul.listeConseilsSection
                li Click N Prev n'est pas un service d'urgences.<br>Si tu as besoin d'une aide immédiate, tu peux contacter l'un des numéros cités plus bas !<br>
                li Bois de l'eau, c'est important de bien s'hydrater
                li Mange 5 fruits et légumes par jour...enfin essaye mais promis, ya des recettes vraiment biens à base de légumes, cherche des recettes végétariennes (ou même vegan !) sur des sites comme Pinterest
                li Pratique une activité physique régulière (genre même Pokémon Go, c'est validé, ça te fait bouger tranquillement et tu peux même rencontrer des gens sympas !)
                li 
        h1.titreSectionPrev Liens utiles
        div.card
            ul.listeLiensSection
                li
                    a(href="https://www.mangerbouger.fr" target="blank") Le site pas très original de mangerbouger.fr
                li
                    a(href="https://www.mangerbouger.fr/Les-recommandations/Augmenter/Les-fruits-et-legumes" target="blank") Les fruits & légumes ↴<br> au moins 5 par jour.
                li
                    a(href="https://amelioretasante.com/46-bonnes-raisons-de-boire-de-leau/" target="blank") 46 bonnes raisons de boire de l’eau !
                li
                    a(href="https://www.santemagazine.fr/alimentation/aliments-et-sante/boire-de-leau-vrai-faux-et-idees-recues-174228" target="blank") Boire de l'eau ↴<br> vrai-faux et idées reçues.
                li
                    a(href="https://www.ameli.fr/assure/sante/themes/activite-physique-sante/exercice-physique-recommande-quotidien" target="blank") Qu'est-ce que l'activité physique ?
                li.urgence <span class="textavaloriser">Numéros d'urgences (numéros gratuits)</span><br><span class="textavaloriser">Rappel !</span> Ces numéros ne sont à utiliser qu'en cas d'urgence réelle et absolue !<br>(Tu peux appeler en <span class="textavaloriser">cliquant</span> dessus)↴↓↓
                    li
                        a(href="tel:112") Numéros Urgence Européen <span class="textavaloriser">112</span><br>(Si tu es victime ou témoins d'un accident dans un pays de L'Union Européenne)
                    li
                        a(href="tel:15") S.A.M.U <span class="textavaloriser">15</span><br>( Pour obtenir l'intervention d'une équipe médicale lors d'une situation de détresse vitale, ainsi que pour être redirigé vers un organisme de permanence de soins)
                    li
                        a(href="tel:18") Pompiers <span class="textavaloriser">18</span><br>(Pour signaler une situation de péril ou un accident concernant des biens ou des personne et obtenir leurs intervention rapide)
                    li
                        a(href="tel:17") Police/Gendarmerie <span class="textavaloriser">17</span><br>(Pour signaler une infraction qui nécessite l'intervention immédiate de la police)
                    li
                        a(href="sms:114") Urgences SOURDS et MALENTENDANTS <span class="textavaloriser">114</span><br>(Si tu es victime ou témoins d'une situation d’urgence qui nécessite l'intervention des services de secours. Attention, service <span class="textavaloriser">SMS</span> et <span class="textavaloriser">FAX</span>)
                    li
                        a(href="tel:0800231313") Drogues info service au <br><span class="textavaloriser">0 800 23 13 13</span>, de 8h à 2h, 7 jours sur 7.<br>Ton appel est <span class="textavaloriser">anonyme</span> et <span class="textavaloriser">gratuit !</span>
                    li
                        a(href="tel:3989") Tabac info service, au <span class="textavaloriser">39 89</span><br>(service gratuit + coût de l'appel)
                    li
                        a(href="https://www.gouvernement.fr/risques/connaitre-les-numeros-d-urgence") Plus d'infos sur les principaux numéros d'urgence<br>sur le site du Gouvernement