extends index.pug

block conseils_generaux
    h1.titreSectionPrev Conseils généraux
    ol.listeConseilsSection
        li Bois de l'eau, c'est important de bien s'hydrater
        li Mange 5 fruits et légumes par jour...enfin essaye mais promis, ya des recettes vraiment biens à base de légumes, cherche des recettes végétariennes (ou même vegan !) sur des sites comme Pinterest
        li Pratique une activité physique régulière (genre même Pokémon Go, c'est validé, ça te fait bouger tranquillement et tu peux même rencontrer des gens sympas !)
    hr
    h1.titreSectionPrev Liens utiles
    ul.listeLiensSection
        li
            a(href="#") Lien random n°1
        li
            a(href="#") Lien random n°2