extends index.pug

block drogues
    body#drogues_body
        h1.titreSectionPrev Drogues
        div.card
            ul.listeConseilsSection
                li
                li
                li
        h1.titreSectionPrev Liens utiles
        div.card
        
            ul.listeLiensSection
                li
                    a(href="https://modules.securite-routiere.gouv.fr/module_drogue.html") Simulateur de peines en cas de contrôle de Stups au volant
                li
                    a(href="https://www.youtube.com/watch?v=VVMkZ8gmc24") La drogue expliquée sereinement par South Park
                li
                    a(href="#") Lien vide :[


