doctype html
head
  link(rel='shortcut icon' href='icons/favicon.ico' type='image/x-icon')
  link(rel='icon' href='favicon.png' type='image/png')
  link(rel='icon' sizes='32x32' href='icons/favicon-32.png' type='image/png')
  link(rel='icon' sizes='64x64' href='icons/favicon-64.png' type='image/png')
  link(rel='icon' sizes='96x96' href='icons/favicon-96.png' type='image/png')
  link(rel='icon' sizes='196x196' href='icons/favicon-196.png' type='image/png')
  link(rel='apple-touch-icon' sizes='152x152' href='icons/apple-touch-icon.png')
  link(rel='apple-touch-icon' sizes='60x60' href='icons/apple-touch-icon-60x60.png')
  link(rel='apple-touch-icon' sizes='76x76' href='icons/apple-touch-icon-76x76.png')
  link(rel='apple-touch-icon' sizes='114x114' href='icons/apple-touch-icon-114x114.png')
  link(rel='apple-touch-icon' sizes='120x120' href='icons/apple-touch-icon-120x120.png')
  link(rel='apple-touch-icon' sizes='144x144' href='icons/apple-touch-icon-144x144.png')
  meta(name='msapplication-TileImage' content='favicon-144.png')
  meta(name='msapplication-TileColor' content='#FFFFFF')
  link(rel='icon' href='icons/animated_favicon.gif' type='image/gif')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='manifest' href='manifest.json')
  link(rel='stylesheet' href='style.css')
  link(rel='stylesheet' href='./@fullcalendar/core/main.css')
  link(rel='stylesheet' href='./@fullcalendar/daygrid/main.css')
  link(rel='stylesheet' href='./@fullcalendar/timegrid/main.css')
  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.5.1/dist/leaflet.css' integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==' crossorigin='')
  link(rel="stylesheet" href="leaflet-routing-machine.css")

  title Click n&apos;Prev
  

  img#menu_img(src="icons/burger_img2.png", alt="menu", onclick='affichage_menu()')
  div#menu
    ul#ul_menu
      li.li_menu
        a.a_menu(href="accueil") Accueil
      li.li_menu
        a.a_menu(href='prevention') Pr&eacute;vention
      li.li_menu
        a.a_menu(href='conseils') Conseils
      li.li_menu
        a.a_menu(href='alcool') Alcool
      li.li_menu
        a.a_menu(href='drogues') Drogues
      li.li_menu
        a.a_menu(href='sexualite') Sexualit&eacute;
      li.li_menu
        a.a_menu(href='connexion') Communaut&eacute;
      li.li_menu
        a.a_menu(href='agenda') Agenda
      li.li_menu
        a.a_menu(href='carte') Carte
      li.li_menu
        a.a_menu(href="profil") Mon profil

  block accueil
  block prevention
  block conseils
  block alcool
  block drogues
  block sexualite
  
  block connexion
  block inscription
  block profil
  block communaute
  block agenda
  block carte



script.
  if('serviceWorker' in navigator) {
  navigator.serviceWorker.register('/sw.js')
  .then(function() {
  console.log('Service Worker Registered');
  });
  }
script(src='https://unpkg.com/leaflet@1.5.1/dist/leaflet.js' integrity='sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==' crossorigin='')



script.
  //------------- Message avertissement utilisation du mode paysage - Non bloquant
  window.addEventListener("orientationchange", function(){
  if (screen.orientation.type !== 'portrait-primary'){
  window.alert('Hop ! Hop ! ⛔ \rTon écran est en mode paysage! (¯―¯٥) \rNous te recommandons le mode portrait 📲');
  }
  console.log('screen orientation is -> ' + screen.orientation.type);
  } );
script(src='./@fullcalendar/core/main.js')
script(src='./@fullcalendar/daygrid/main.js')
script(src='./@fullcalendar/timegrid/main.js')
script(src='./@fullcalendar/interaction/main.js')
script(src='./calendar.js')
script(src="leaflet-routing-machine.js")
script(src='app.js')
