extends index.pug

block inscription
  body#inscription_body
    h1 Inscription
    div.card
      form(method='POST' action='')
        fieldset
          h3 Completez les champs:

          label(for='pseudo') Nom:
          input#pseudo(type='text' name='pseudo' placeholder='Votre pseudo' required='')

          label(for='age') Age:
          input#age(type='number' name='age' placeholder='Age' required='')

          label(for='email') Email:
          input#email(type='email' name='email' placeholder='Votre email' required='')

          label(for='password') Mot de passe:
          input#password(type='password' name='password' placeholder='Votre mot de passe' required='')

          label(for='telephone') Telephone:
          input#telephone(type='number' name='telephone' placeholder='Numéro de tel' required='')

          input(type='submit' value='Valider inscription')