extends index.pug

block prevention
    body#prevention_body
        h1 Prevention
        a(href='conseils')
            div.card_prev 
                h3 Conseils
            br
        a(href='alcool')    
            div.card_prev 
                h3 Alcool 
            br
        a(href='drogues')    
            div.card_prev 
                h3 Drogues
            br
        a(href='sexualite')    
            div.card_prev 
                h3 Sexualit&eacute;
             
