extends index.pug

block profil
    body#profil_body
        h1 Mon profil
        img#avatar(src="./img/avatars/avatar1.png", alt="mon avatar")
        div.card#card_profil
            h3 Nom :
            h3 Age :
            h3 email :
            h3 Mot de passe : 
            h3 Telephone :