extends index.pug

block sexualite
    body#sexualite_body
        h1.titreSectionPrev Sexualité
        div.card
            ul.listeConseilsSection
                li Le consentement de ton/ta partenaire est indispensable pour avoir une relation sexuelle. Ton/ta partenaire a le droit de changer d'avis à n'importe quel moment tu n'as pas le droit de le/la forcer à quoi que ce soit. Tout ce qui est valable pour ton/ta partenaire est aussi valable pour toi.
                li Le préservatif est le seul moyen de limiter grandement les risques d'être contaminé par une MST ou une IST, ou de faire un enfant. Le risque zéro n'existe pas mais 0,01% de chance, c'est mieux que rien !
                li La pilule du lendemain n'est pas un moyen de contraception "standard" donc ne te repose pas là-dessus pour éviter de prendre la pilule, ou de te faire poser un stérilet/un implant hormonal.
                li Il existe des associations pour te renseigner sur ce sujet et pas mal d’info sur internet… on voit de tout et de rien, du vrais, du faux… Chez Click N Prèv on peux te recommander « le planning familial » qui est une organisation qui peux t'aider à te renseigner sur la sexualité en général. Ils militent pour vivre sa sexualité librement ainsi que pour défendre les droits dans le domaine de la santé sexuelle et l’égalité des sexes et des sexualités. Ils proposent des séances d’éducation à la sexualité, basée sur la libération de la parole et les échanges de points de vue, permet de :<br><br> ¤¤  Déconstruire les idées reçues sur les questions relatives à la sexualité et l’anatomie ;<br><br> ¤¤  Lever les tabous dès le plus jeune âge ;<br> ¤¤ Favoriser les échanges entre pairs ;<br><br> « Lutter contre le sexisme, les LGBTphobies et toutes autres violences liées à la sexualité ».<br><br> En cela, cette approche est globale et positive. Elle favorise la construction d’un socle social pour vivre ensemble, que l’on soit fille ou garçon dans le respect des personnes.<br> Rapproche-toi du planning familial le plus proche de chez toi avec le lien en dessous. 
        h1.titreSectionPrev Liens utiles
        div.card
            ul.listeLiensSection
                li
                    a(href="https://www.planning-familial.org/fr") Planning familial
                li
                    a(href="tel:0800081111") Téléphone du Planning familial<br>( Numéro anonyme et gratuit )
                li
                    a(href="https://www.planning-familial.org/fr/pres-de-chez-vous" target="blank") Le planning familial près de chez toi
                li
                    a(href="http://www.educationsensuelle.com") Un site sur l'éducation sensuelle, le début du début...
                li
                    a(href="https://educationsexuelle.com/") Un site sur l'éducation sexuelle



