/*HTML /////////////////////////////////////////////////////////////////////////////////*/
  div#menu_nav
  input#menu-toggle(type='checkbox')
  label#trigger(for='menu-toggle')
  label#burger(for='menu-toggle')
  ul#menu
    li.li_menu
      a.a_menu(href="accueil") Accueil
    li.li_menu
      a.a_menu(href='prevention') Pr&eacute;vention
    li.li_menu
      a.a_menu(href='conseils') Conseils
    li.li_menu
      a.a_menu(href='alcool') Alcool
    li.li_menu
      a.a_menu(href='drogues') Drogues
    li.li_menu
      a.a_menu(href='sexualite') Sexualit&eacute;
    li.li_menu
      a.a_menu(href='connexion') Communaut&eacute;
    li.li_menu
      a.a_menu(href='agenda') Agenda
    li.li_menu
      a.a_menu(href='carte') Carte

/* MENU BURGER //////////////////////////////////////////////////////////////// */
@keyframes checked-anim {
    /*50% {
        width: 3000px;
        height: 3000px;
    }*/
    100% {
        width: 65%;
        height: 95%;
        border-bottom-right-radius: 15px;
    }
}
/*
@keyframes not-checked-anim {
    0% {
        width: 3000px;
        height: 3000px;
    }
}
*/

.li_menu, .a_menu {
    margin: 75px 0 -55px 0;
    color: #2c3e50;
    font-weight: 700;
    font-size: 3vh;
    line-height: 1.8;
    text-decoration: none;
    text-transform: none;
    outline: 0;
    display: none;
    text-align: left;
}
.li_menu {
    width: 230px;
    text-indent: 56px;
}
.a_menu:focus {
    display: block;
    color: #333;
    background-color: #eee;
    transition: all .5s;
}
/*
aside {
    z-index: 2000;
    position: absolute;
    color: #ecf0f1;
    top: 35%;
    right: 10%;
    text-align: right;
}
*/
html, body {
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}
#menu_nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: #eee;
    /*border: 1px black solid;*/
}
#trigger, #burger, #burger:before, #burger:after {
    z-index: 5000;
    position: absolute;
    top: 12px;
    left: 12px;
    background: #2c3e50; /* couleur du burger*/
    width: 30px;
    height: 5px;
    transition: .2s ease;
    cursor: pointer;
}
#trigger {
    height: 25px;
    background: none;
}
#burger:before {
    content: " ";
    top: 10px;
    left: 0;
}
#burger:after {
    content: " ";
    top: 20px;
    left: 0;
}
#menu-toggle:checked + #trigger + #burger {
    z-index: 2020;
    top: 35px;
    transform: rotate(180deg);
    transition: transform .2s ease;
}
#menu-toggle:checked + #trigger + #burger:before {
    width: 20px;
    top: -2px;
    left: 18px;
    transform: rotate(45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu-toggle:checked + #trigger + #burger:after {
    width: 20px;
    top: 2px;
    left: 18px;
    transform: rotate(-45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu {
    z-index: 2000;
    position: absolute;
    margin: 0; padding: 0;
    width: 57px;
    height: 55px;
    background-color: #fff;
    border-bottom-right-radius: 15%;
    /*box-shadow: 0 2px 5px rgba(0,0,0,0.26);*/
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.20);
    animation: not-checked-anim .2s both;
    transition: .2s;
    /*border: 1px black solid;*/
}
#menu-toggle:checked + #trigger + #burger + #menu {
    animation: checked-anim 0.3s ease both;
}
#menu-toggle:checked + #trigger ~ #menu > .li_menu, .a_menu {
    display: block;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}
