@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("fonts/roboto/Roboto-Regular.ttf")
}
body {
    height: 100vh;
    line-height: 1.3;
}
* {
    /*border: 1px grey solid;*/
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    color: white;
}

#mapid { 
    height: 60vh; width: 100%;
    margin: auto;
    margin-top: 10%;
}
.leaflet-popup-content {
    color: #2c3e50;
}
.leaflet-bottom {
    display: none;
}
#mapid > div.leaflet-control-container > div.leaflet-top.leaflet-right > div {
    color: #2c3e50;
    /*display: none;*/
}
td {
    color: #2c3e50;
}
#accueil_body {
    background-color: #2980b9;
}
#prevention_body {
    background-color: #27ae60;
}
#conseils_body {
    background-color: #27ae60;
}
#alcool_body {
    background-color: #27ae60; 
}
#drogues_body {
    background-color: #27ae60;
}
#sexualite_body {
    background-color: #27ae60;
}
#connexion_body {
    background-color: #e67e22;
}
#inscription_body {
    background-color: #e67e22;
}
#carte_body {
    background-color: #e67e22;
}
#agenda_body {
    background-color: #e67e22;
}
#caprev {
    background-color: #27ae60;
}
#caco {
    background-color: #e67e22;
}
#profil_body {
    background-color: #e67e22;
}

/* MENU ///////////////////////////////////////////////////// */

@keyframes pulse {
    from {
        width: 0%;
        height: 0%;
        font-size: 0vw;
    }
    to {
        width: 60%;
        height: 80%;
        font-size: 6vw;
    }
}
.ouvrir {
    animation: pulse 200ms ease-in-out 1;
}

#menu {
    display: none;
    z-index: 5000;
    position: fixed;
    top: 0%;
    left: 0%;
    color: #2c3e50;
    font-weight: bolder;
    font-size: 6vw;
    background-color: white;
    padding: 17% 2% 2% 2%;
    width: 60%;
    height: 80%;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.20);
}
#menu_img {
    z-index: 5001;
    width: 15vw;
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 2%;
    color: #2c3e50;
    background-color: transparent;
}
.a_menu {
    color: #2c3e50;
    text-decoration: none;
}
.li_menu:focus {
    background-color: #eee;
    transition: all .5s;
}
.li_menu {
    margin-bottom: 10%;
    list-style: square;
}

/* ////////////////////////////////////////////////////////// */

h1, a {
    text-align: center;
    color: white;
    text-decoration: none;
}
h1 {
    font-size: 8vw;
    margin-top: 10%;
}
h3 {
    font-size: 7vw;
}
label {
    font-size: 5vw;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
    padding: 2%;
    width: 90%;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
}
.card_accueil {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10%;
    padding: 2%;
    width: 90%;
    height: 25%;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
    text-align: center;
    /* height: 100vh;
    width: 100vw; */
}
.card_prev {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 0%;
    padding: 2%;
    width: 90%;
    height: 15%;
    text-align: center;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
}
.card_co_inscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10%;
    padding: 2%;
    padding-top: 5%;
    padding-bottom: 15%;
    width: 90%;
    height: 15%;
    text-align: center;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
}
#card_profil {
    flex-direction: column;
    align-items: flex-start;
}
#avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#button_co {
    margin: auto;
}
fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}
fieldset > * {
    margin-top: 2%;
}
fieldset > input {
    margin-bottom: 7%;
}
input {
    color: #2c3e50;
    padding: 1%;
    font-size: 5vw;
}
#inscription_button {
    margin: auto;
    color: #2c3e50;
    border: 1px grey solid;
    border-radius: 2px;
    padding: 4px;
    background-image: linear-gradient(180deg, white, rgb(192, 190, 190));
}
#inscription_button:hover {
    text-decoration: none;
    color: #000000;
    border: 1px black solid;
}

#install_button {
    width: 40%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: block;
    background-color: #2c3e50;
    color: white;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
}

li {
    margin-bottom: 5%;
}

li.urgence {
    list-style: none;
    Color: red;
    background-color: lightgrey;
}

.textavaloriser {
    color: inherit;
    font-weight: bold;
}